body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    width: 320px; /* Slightly wider for better usability */
    height: auto;
    background-color: #1c1c1c; /* Dark mode background */
    color: #ffffff; /* Light text for contrast */
    border-radius: 10px; /* Rounded corners for the popup */
}

h3 {
    margin-top: 1%;
    text-align: center;
    color: #ffffff; /* White for headers */
}

p {
    text-align: center;
    color: #c1c1c1; /* Lighter text for descriptions */
    margin: 10px 0;
}

label {
    font-size: 14px;
    color: #ffffff;
}

.dropdown-set {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select {
    width: 50%; /* Smaller dropdown menu */
    padding: 8px;
    font-size: 14px;
    background-color: #1f1f1f; /* Dark dropdown background */
    color: #ffffff;
    border: 1px solid #333333; /* Subtle border */
    border-radius: 8px; /* Rounded corners */
}

button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 8px; /* Rounded corners */
    cursor: pointer;
    margin-left: 2px;
}

button:hover {
    background-color: #0056b3;
}

#viewFilesToggle {
    text-align: center;
    text-decoration: underline;
    color: #e0e0e0; /* Clickable blue text */
    cursor: pointer;
    margin: 10px 0;
}

#viewFilesToggle:hover {
    text-decoration: underline;
}


#fileListContainer {
    display: block !important; /* Ensure it becomes visible */
    max-height: 150px;
    overflow-y: auto;
    background-color: #1f1f1f;
    padding: 10px;
    border: 1px solid #333333;
    border-radius: 8px;
    margin-top: 10px;
    line-height: 1.2rem;
}

.file-item {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-item:hover {
    background-color: #333333; /* Darker background on hover */
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 5px 0;
    color: #dad9d9;
}

span.lifespan {
    color: #70b4fd; /* Subtle blue for lifespan */
    font-style: italic;
}



.advanced-mode-button {
    margin-top: 0px;
    padding: 4px;
    width: auto;
    background-color: transparent;
    color: #6d6d6d;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
}

.advanced-mode-button:hover {
    background-color: #333;
}

.advanced-mode-container {
    margin-top: 0px;
    padding: 10px;
    background-color: #292929;
    border-radius: 8px;
}
